*{
    margin: 0;
    padding: 0;
}
.navbar{
    /* margin-left: 0px; */
    
}

.wemake{
    /* margin-top: -300px; */
}
.wemake h1{
    /* margin-top: 500px; */
    margin-left: -950px;
    margin-bottom: 10px;
    /* padding-top: 100px; */
}
/* .wemake h1 button{
    margin-left: -100px;
} */
.h5p h5 p{
    margin-top: 100px;
}
.carousel{
    margin-top: -56px;
    z-index: -2;
    /* color: red; */
}
.collapse{
    justify-content: right;
    margin-right: 100px;
    z-index: 5;
   
}

.carousel-inner img{
    /* display: block; */
    /* position: relative; */
    z-index: 3;
    top: 0px;
    height: 675px;
    width: 100%;
    
}
.carousel-inner::before{
    content: "";
    position: absolute;
    background-color: rgb(0, 9, 18);
    z-index: 4;
    opacity: 0.5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.d-none{
    z-index: 5;
}
.a{
    color: blue;
}
/* #cellll{
    color: blue;
} */
.cards{
    /* padding-top: 10px; */
    /* margin-top: 90px; */
}
.container{
    /* margin-left: 350px; */
    /* justify-content: right; */
}
.rons{
    width: 80%;
    margin-top: 50px;
    margin-left: 200px;
}
.one{
    border: none;
    padding: 50px;
    width: 50%;
    margin-top: 50px;
    /* margin-right: 50%; */
}
.one h5{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.heading{
    position: absolute;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 20px;
    margin-left: 50px;
    z-index: 1;
}

.two{
    border: none;
    padding: 15px;
    background-color: rgba(230, 250, 251, 255);
}
.two img{
    padding-top: 80px;
}
.groupiii{

    /* height: 900px; */
    /* background-color: rgb(93, 159, 181); */
}
.groupiii h5{
    color: rgb(191, 47, 47);
}
.hh{
    margin-top: 9px;
    position: absolute;
    margin-left: 250px;
    z-index: 2;
}
.containerone{
}

.miii{
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.avataron img{
    /* border: 2px solid black; */
    border-radius: 100%;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.wid1{
    margin-top: 30px;
    width: 100%;
    border: none;
}
.ooo{
    margin-left: -290px;
}
.ii{
    height: 80px;
    width: 200px;
    margin-top: 30px;
    margin-left: 180px;
}
.aaa li a{
    text-decoration: none;
    color: white;
    /* background-color: aqua; */
    z-index: -2;
    
}
.se{
    background-color: rgb(79, 88, 111);
    height: 180px;
}
.nnn {
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding-top: 40px;
}
.icon{
    /* padding: 15px; */
    
}
.color{
    color: white;
}
.aaa li a span{
    color: aliceblue;
}
.aaa ul li a i{
    padding: 2px;
    margin-right: 10px;
}
.imgour{
    display: grid;
    position: absolute;
}

.loremn{
    display: grid;
    position: relative;
    margin-left: 100px;
}
.ourbolg{
    border: none;
    margin-top: 10px;
    width: 100%;
}
.ourimg img{
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 140px;
}
.hs{
    margin-left: 140px;
    margin-top: 10px;
}
.ourcard{
    margin-top: 40px;
    margin-left: -10px;
    width: 850px;
}
.ourcard p{
    color: rgba(216, 179, 179, 0.923);
}
.ourcard h4{
    width: 80px;
    border-radius: 5px;
    height: 15px;
    color: white;
    text-align: center;
    font-size: 10px;
    background-color: rgb(0, 113, 128);
}
.ouri span{
    margin-left: -5px;
    padding: 7px;
    
}
.formone{
    /* height: 100px; */
    width: 850px;
    position: relative;
    margin-top: 30px;
    margin-left: 5px;
    /* padding-top: 30px; */
}
.forms{
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    /* width: 100px; */
    /* height: 10px; */
}
.contactinfo{
    position: relative;
    margin-left: 70%;
    /* top: -200px; */
    margin-top: -310px;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    margin-left: 1000px;
    width: 450px;
    /* height: 100px; */
    /* line-height: 5px; */
}
.formms{
    /* margin-top: 100px; */
    /* padding-top: 10px; */
    background-color:rgba(230, 250, 251, 255);
    height: 490px;
}

.forho63{
    /* margin-top: 20px; */
    padding-top: 30px;
    margin-left: 50px;

}
.forms input #inputAddress{
    /* width: 900px; */
}
.formms button{
    background-color: rgba(221, 71, 69, 0.792);
    border: none;
    width: 825px;
    margin-left: 42px;
}
.cla{
    margin-left: 30px;
}
.cla.forms{
    margin-left: 34px;
}
.hrr{
    width: 1400px;
    margin-left: 50px;
    margin-top: 100px;
    /* margin-left: 10px; */
}
.hrr h6{
    margin-left: 10px;
}
.links{
    margin-left: 1200px;
    margin-top: -28px;
    /* padding: 10px; */
}
.links i{
    padding: 5px;
}